h1 {text-align: center; font-size:30px; font-weight:bold; color:red;}

body {
	background-color:lightblue;
	}
	#enter-button{
	background-color:lightgreen;
	color:red;
	text-align:center;
	}
	#textout{
	color:red;
	font-size:large;
	text-align:center;
	}
	#textin{
	color:black;
	text-align:left;
	}
	#inform{
	text-align:center;
	}