body{font-family:Arial; color:black; font-weight:regular; background-color:white;}
h1 {text-align: center; font-size:30px; font-weight:bold }
h2 {text-align: right; color:red; }
.red-text-with-border{color:red; font-size:20px;
	font-weight:bold; border:2px solid black; padding:20px;}
.black-text{font-size:20px; font-weight:bold;}
.green-text{color:green; font-size:24px;
	line-height:1.5; font-weight:bold;}
.red-text-light{color:red; font-size:24px; line-height:1.5; }
.blue-text-light{color:blue; font-size:24px; line-height:1.4; }
.blue-small-bold{color:blue; font-size:16px; font-weight:bold;}
.yellow-highlight{background-color:yellow; font-size:22px; }	
.regular-text{font-size:16px;}
.regular-bold-text{font-size:16px; font-weight:bold;}
.bold-text{font-size:18px; font-weight:bold;}
.bold-underlined-text{color:blue; font-size:16px; font-weight:bold;	text-decoration:underline;}
.header-text-large{text-align:center; font-size:30px; font-weight:bold }	
.header-text-large-left{text-align:left; font-size:30px; font-weight:bold }	
.header-text-small{text-align:center; font-size:20px; font-weight:bold }			
.bold-text-spaced{font-size:16px; font-weight:bold; line-height:2.0;}

.img-container {text-align:center;}	

table,th,td{border:2px solid black; border-collapse:collapse; padding:10px;
	font-family:Arial; font-size:18px; width:60%}
	
table tr td:nth-child(1) {width:40%;}
table tr td:nth-child(2) {width:60%;}
	
